.h2 {
    font-size: 36px;
}

body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, #f1f0ec, #ffae17);
}

.hover {
    color: green;
}

p {
    font-size: 23px;
    color: rgb(0, 0, 0);
}

h1 {

    color: rgb(244, 145, 15);
}
iframe{
    display: block;
    margin: 0 auto;
    width: 800px;
}