<!DOCTYPE html>
<html>

<head>
    <title>Cadastrar Carro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container">

        <h1>Novo Carro</h1>

        <form action="/salvar_carro" method="POST">

            <input type="text" name="marca" placeholder="Marca">

            <input type="text" name="modelo" placeholder="Modelo">

            <input type="number" name="ano" placeholder="Ano">

            <input type="number" name="qtde_disponivel" placeholder="Quantidade">

            <button type="submit">Salvar</button>

        </form>

    </div>

</body>

</html>