.verde{
    color: rgb(0, 0, 0);
        display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border: solid 5px ;
    background-color: rgb(255, 221, 157);
}

.texto{
    font-family: sans-serif;
    font-size: 18pt;

}

.titulo{
    color: green;
}

