.verde{
    color: rgb(0, 2, 121);
        display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border: solid 5px ;
    background-color: rgb(255, 221, 157);
}

.texto{
    font-family: sans-serif;
    font-size: 18pt;

}

.titulo{
    color: green;
}

p {
    color: rgb(73, 20, 122);
}

body{
    background-color: rgb(164, 164, 164);
}
.livros{
padding: 20px;
position: relative;
display: flex;
align-items: center;
}

.livro1{

 padding: 15px;
}

.livro2{
   
   
    padding: 15px;
}

.livro3{
   

    padding: 15px;
}

iframe{
    position: relative;
   left: 560px;
   margin-left: auto;
   margin-right: auto;
}

.tlivros{
    display: flex;
    justify-content: space-around;

}

.funcao{
    justify-content: space-around;
    display: flex;
    background-color: rgb(61, 184, 255);
   
}

table{
    border: 3px dashed red;
    color: rgb(0, 0, 0);
   margin: 0% auto;
}

.final{
        display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
    background-color: rgb(255, 221, 157);
}


